@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

/* ----- */
/* LINKS */
/* ===== */

a {
    text-decoration:none;
}
a:link, a:visited {
    color:#009933; /* LINK GREEN */
    text-decoration:none;
}
a:hover {
    color:#D5CC00; /* HOVER GOLD */
    text-decoration:none;
}
a:active {
    color:#D5CC33;
    text-decoration:none;
}
HEADER ul#navbar li a {
    display:inline-block;
    margin:0 0.15rem;
    padding:0.4rem 0.6rem;
}
HEADER ul#navbar li:first-child a {
    margin-left: -0.6rem;
    color: #C42126;
    font-weight: bold;
}
HEADER ul#navbar li a.current-page {
    background-color:#d3f7c8;
    border-radius:0.2rem 0.2rem 0 0;
    font-weight:bold;
}
h1 a {
    color:black;
}
div#paginator a {
    margin:3px;
    padding: 1rem 1.25rem;
    background:#e5ffd4 none repeat scroll 0 0;
    border:1px solid #009933; /* LINK GREEN */
    color:#009933; /* LINK GREEN */
}
div#paginator a:hover {
    background:#fff777 none repeat scroll 0 0;
    border:1px solid #D5CC00;
    color:black;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
}
ul.flat-list li a {
    font-weight:normal;
}
div#front-page h1 a {
	font-size: 7vmin;
}
div#front-page h1 a:link,
div#front-page h1 a:visited {
	color: #C42126;
}
div#front-page h1 a:hover,
div#front-page h1 a:active {
    color: #41A101;
}
div#front-page h1 a span {
	padding: 2vmin;
	padding-bottom: 1vmin;
}
div#front-page div#links a {
	padding: 5px;
	line-height: 2em;
}
div#front-page div#links a:link,
div#front-page div#links a:visited {
	color: #C42126;
}
div#front-page div#links a:hover,
div#front-page div#links a:active {
    color: #41A101;
}
div#front-page div#message a {
	font-weight: bold;
	text-decoration: underline;
}
a.lesser {
    color:#7FCC33; /* LESSER LINK GREEN */
}
a.lesser:hover {
    color:#D5CC00; /* LESSER HOVER GOLD */
}
FOOTER a:link, FOOTER a:visited {
    color: #77cc99;
}

/* end links */

/* -------- */
/* ALL ELSE */
/* -------- */

.noleft{
padding-left:2rem;
}
HEADER {
margin-bottom:0.9rem;
}
HEADER #site-title {
padding:0.6rem 2rem 0.25rem;
}
HEADER ul#navbar, HEADER ul#subnavbar {
font-family: 'Manrope', sans-serif;
font-size:110%;
}
HEADER ul#navbar {
margin:0;
padding:0 1rem 0 2rem;
}
HEADER ul#navbar li {
margin:0;
}
HEADER ul#subnavbar {
margin:0 0 0.5rem;
padding:0 1rem 0 2rem;
background-color:#d3f7c8;
}
HEADER ul#subnavbar li {
display:inline-block;
margin:0 0.15rem;
padding:0.4rem 0.6rem;
}
HEADER ul#subnavbar li:first-child {
margin-left: -0.6rem;
}
body {
background-color:#e5ffd4;
font-weight:normal;
font-style:normal;
font-variant:normal;
font-size-adjust:none;
font-stretch:normal;
font-size:80%;
line-height:normal;
-x-system-font:none;
}
h1 {
margin-top:0;
margin-bottom:0;
padding:0.3rem;
font-size:2.2rem;
}
h3 {
margin-top:0;
margin-bottom:0;
padding:0.2rem 0.2rem 0.2rem 0;
font-size:1rem;
}
h4 {
font-size:1.4rem;
}
h5 {
font-size:1.2rem;
}
table.zebra {border-spacing: 0;border-collapse: collapse;}
table.zebra > tbody > tr:hover {background: #FDF;}
table.zebra th { padding-right: 0.4rem;color: #17B31B;}
table.zebra td {margin: 0;padding-right: 0.6rem;border: 1px dotted #EEE;}
table.zebra th {margin: 0;text-align: left;}
thead {
font-weight:bold;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
}
td {
vertical-align:top;
}
#subtitle {
margin:auto;
width:256px;
border-top:medium none;
text-align:center;
font-size:0.75em;
}
FOOTER {
clear:both;
margin-top:1rem;
text-align:center;
color:#bbddbb;
font-size:0.8rem;
}
FOOTER > DIV {
margin: 1rem 2rem;
}
form {
margin:0;
}
NAV {
float:left;
padding:0 1rem 0.2rem 2rem;
width:11.5rem;
text-align:left;
}
NAV section + section {
margin-top:1rem;
}
NAV table {
width:15rem;
}
NAV td {
vertical-align:middle;
}
NAV input {
padding:0;
width:100%;
}
NAV select {
padding:0;
width:100%;
}
NAV h3 {
text-align:left;
}
NAV .radio * {
    vertical-align: middle;
}
NAV .radio INPUT {
	width: auto;
	margin-left: 0.3em;
}
NAV .radio LABEL {
	color: #009933;
	cursor: auto;
	text-decoration: none;
	margin-left: 0.1em;
}
NAV .radio LABEL:hover {
	cursor: pointer;
	text-decoration: underline;
}
NAV .radio .go-button {
    width: 20%;
	margin-left: 0;
}
NAV .check {
	margin-top: 0.3em;
}
NAV .check * {
    vertical-align: middle;
}
NAV .check INPUT {
	width: auto;
	margin-left: 0;
}
NAV .check LABEL {
	color: #009933;
	cursor: auto;
	text-decoration: none;
	margin-left: 0.1em;
}
NAV .check LABEL:hover {
	cursor: pointer;
	text-decoration: underline;
}
#comments p {
overflow:hidden;
max-width:150px;
width:15rem;
text-align:left;
}
TABLE.tag_list {
	width: auto;
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
	line-height: 1em;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}
.tag_count {
display:inline-block;
margin-left:0.4rem;
color:#AAAAAA;
}
.more {
content:"More â";
}
.comment {
margin-bottom:8px;
}
.comment .meta {
width: 15rem;
color: gray;
}
.comment TD {
text-align: left;
}
.withleft {
margin-left:14.5rem;
}

div#paginator {
max-width: 750px;
display:block;
text-align:center;
font-weight:bold;
font-size:1.5em;
margin-top: 1rem;
padding: 1em 0 1em 0;
}
.ket-paginator-bottom {
clear: left;
padding: 0.5em 0 0 0;
}
.paginator {
margin:16px;
text-align:center;
}
div#paginator .dots {
margin:3px;
padding: 1rem 1rem;
border:1px solid #d3f7c8;
}
div#paginator .space {
margin:3px;
padding: 1rem 1.5rem;
border:1px solid #d3f7c8;
}
div#paginator b {
margin:3px;
padding: 1rem 1.25rem;
border:1px solid #d3f7c8;
}

span.thumb {
background: #e5ffd4 url("canvas.png") no-repeat center center;
background-size: 222px 222px;
background-clip: border-box;
display:inline-block;
float:left;
width:222px;
height:222px;
text-align:center;
margin-right: 10px;
margin-bottom: 10px;
overflow: auto;
}
span.thumb:hover {
background: #c5ff9f;
}
#pagelist {
margin-top:32px;
}
#large_upload_form {
width:600px;
}
.setupblock, .tagcategoryblock {
margin:0.6rem 1rem 0.6rem 0;
padding:0.5rem 0.6rem 0.7rem;
width:18rem;
border:1px solid #AAAAAA;
border-radius:0.25rem;
display:inline-block;
}
.tagcategoryblock table {
width:100%;
border-spacing:0;
}
.tagcategoryblock input, .tagcategoryblock span {
width:100%;
height:100%;
}
.tagcategoryblock td:first-child {
padding:0.3rem 0.7rem 0.4rem 0;
text-align:right;
width:40%;
}
.tagcategoryblock td:last-child {
width:60%;
}
.tagcategoryblock td:last-child span {
padding:0.24rem 0.7rem 0.5rem 0;
display:block;
}
.tagcategoryblock button {
width:100%;
margin-top:0.4rem;
padding:0.2rem 0.6rem;
}
.helpable {
border-bottom:1px dashed gray;
}
.ok {
background:#AAFFAA none repeat scroll 0 0;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
}
.bad {
background:#FFAAAA none repeat scroll 0 0;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
}
.comment .username {
font-weight:bold;
font-size:1.5em;
}
HEADER {
text-align:left;
}
HEADER h1 {
text-align:left;
}
* {
margin:0;
padding:0;
font-family: 'Manrope', sans-serif;
}
ul.flat-list {
display:block;
margin:0;
padding:0;
}
ul.flat-list * {
display:inline;
text-align:left;
}
ul.flat-list li {
margin:0 1.3em 0 0;
list-style-type:none;
text-align:left;
font-weight:bold;
}
#tips {
margin-left:16px;
}
#blotter1 {
position: relative;
margin-right:16px;
margin-left:16px;
font-size: 90%;
}
#blotter2 {
margin-right:16px;
margin-left:16px;
font-size: 90%;
}
#flash {
background:#FDF5D9;
border:1px solid #FCEEC1;
margin:1rem 0;
padding:1rem;
text-align:center;
border-radius:0.5rem;
}
ARTICLE {
margin-right:1rem;
}
ARTICLE section + section {
margin-top:1rem;
}
form + form {
margin-top:0.5rem;
}
#Imagemain h3 {
display:none;
}


/* CUSTOM */

.post_title .view {
    font-size: 1.1rem;
    font-weight: bold;
}
.shm-thumb-has_child img {
    border-color: #C42126 !important;
}
.shm-thumb-has_parent img {
    border-color: #7289DA !important;
}
.shm-thumb-has_child.shm-thumb-has_parent img {
    border-color: #C42126 #7289DA #7289DA #C42126 !important;
}
.blockbody {
    max-width: 960px;
}
.blockbody a img {
    border-width: 1px !important;
    border-style: solid;
    border-color: #009933;
}
.blockbody a:hover img {
    border-color: #D5CC00 !important;
}
.shm-thumb {
    line-height: 9em;
}
.shm-thumb-link {
    display: inline-block;
    height: 222px;
    width: 222px;
}
.shm-image-list .shm-thumb-link {
    display: block;
}
.tagit-label {
    color: #d3f7c8;
    font-weight: bold;
}


/* FRONT PAGE */

div#front-page {
	background: #fff url('Redemption3445_Brask_Ket_2019.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
div#front-page h1 {
	height: 3em;
    line-height: 3em;
}
@media screen and (max-width: 768px), (min-width: 768px) and (orientation: portrait) {
    div#front-page h1 {
        height: 4em;
        line-height: 4em;
    }
}
@media screen and (max-height: 768px) and (orientation: landscape) {
    div#front-page h1 {
        height: 1em;
        line-height: 1em;
    }
}
div#front-page h1 {
	margin-top: 0 !important;
	padding-bottom: 6vmin;
}
div#front-page div#links {
	margin-top: 30vmin;
}
div#front-page div#links a, div#front-page div#message {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20vmin;
	-moz-border-radius: 20vmin;
}
div#front-page div#message {
	background: transparent url('bg_fade.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	padding: 8px;
	width: 300px;
}
div#front-page div#message * {
	color: #000;
}
div#front-page div#disclaimer {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	max-width: 50em;
}
div#front-page div#disclaimer ul {
	padding-left: 2vmin;
	list-style: disc outside none;
}
div#front-page div#disclaimer ul li {
	list-style: disc outside none;
}
div#front-page div#disclaimer ul li.sub {
	list-style: square outside none;
}
div#front-page div#counter {
    display: none;
}
div#front-page div#foot {
    display: none;
}

@media only screen and (min-width: 1128px) {
  header {
	background: transparent url('bg_shell.png') no-repeat right top;
  }
}

.osh-ad img
{
    border: 1px solid #009933;
}
.osh-ad:hover img
{
    border: 1px solid #D5CC00;
}

span.lesser
{
    opacity: 0.3; /* LESSER OPACITY */
}
